<app-main-area-block #inputBlock></app-main-area-block>
<div class="ui-g">
    <div class="ui-g-12">
        <p-toolbar>
            <div class="ui-toolbar-group-left">
                <button pButton type="button" (click)="inputBlock.show()" label="Открыть панель ввода слова" class="ui-button-success"></button>
            </div>
        </p-toolbar>
    </div>
</div>
<app-block-01-cad></app-block-01-cad>
<app-block-02-cad></app-block-02-cad>
<app-block-03-cad></app-block-03-cad>
<app-words-block></app-words-block>
<app-main-page></app-main-page>