<p-sidebar [(visible)]="statusCardsChoice">
  <div class="ui-g-12">
    <p-checkbox [(ngModel)]="cardDecks.robotDeck.status" binary="true" label="{{cardDecks.robotDeck.name}}"></p-checkbox>
  </div>
  <div class="ui-g-12">
    <p-checkbox [(ngModel)]="cardDecks.aboutMeDeck.status" binary="true" label="{{cardDecks.aboutMeDeck.name}}"></p-checkbox>
  </div>
  <div class="ui-g-12">
    <p-checkbox [(ngModel)]="cardDecks.cadDeck.status" binary="true" label="{{cardDecks.cadDeck.name}}"></p-checkbox>
  </div>
  <div class="ui-g-12">
    <p-checkbox [(ngModel)]="cardDecks.scenarios.status" binary="true" label="{{cardDecks.scenarios.name}}"></p-checkbox>
  </div>
  <div class="ui-g-12">
    <p-checkbox [(ngModel)]="cardDecks.words.status" binary="true" label="{{cardDecks.words.name}}"></p-checkbox>
  </div>
  <div class="ui-g-12">
    <button pButton type="button" (click)="showCardsChoice(false)" label="Закрыть панель" icon="fa-close" iconPos="right" [ngStyle]="{'width':'100%'}"></button>
  </div>
</p-sidebar>

<app-main-area-block [pullShowSidebar]="statusTextArea" (pushHideSideBar)="hideTextArea($event)"></app-main-area-block>

<div class="ui-g">
    <div class="ui-g-12">
        <p-toolbar>
            <div class="ui-toolbar-group-left">
                <button pButton type="button" (click)="showCardsChoice(true)" label="Открыть панель выбора колод" class="ui-button-success"></button>
                <button pButton type="button" (click)="showInputTextArea(true)" label="Открыть панель ввода слов" class="ui-button-success"></button>
            </div>
        </p-toolbar>
    </div>
</div>

<div *ngIf="cardDecks.robotDeck.status">
  <h3>
    {{cardDecks.robotDeck.name}}
  </h3>
  <app-block-01-robot></app-block-01-robot>
  <app-block-02-robot></app-block-02-robot>
  <app-block-03-robot></app-block-03-robot>
</div>

<div *ngIf="cardDecks.aboutMeDeck.status">
  <h3>
    {{cardDecks.aboutMeDeck.name}}
  </h3>
  <app-block-01-about-me></app-block-01-about-me>
  <app-block-02-about-me></app-block-02-about-me>
  <app-block-03-about-me></app-block-03-about-me>
</div>

<div *ngIf="cardDecks.cadDeck.status">
  <h3>
    {{cardDecks.cadDeck.name}}
  </h3>
  <app-block-01-cad></app-block-01-cad>
  <app-block-02-cad></app-block-02-cad>
  <app-block-03-cad></app-block-03-cad>
</div>

<div *ngIf="cardDecks.scenarios.status">
  <h3>
    {{cardDecks.scenarios.name}}
  </h3>
  <app-block-01-scenarios></app-block-01-scenarios>
</div>

<div *ngIf="cardDecks.words.status">
  <app-words-block></app-words-block>
</div>

<app-main-page></app-main-page>