<app-main-area-block [pullShowSidebar]="statusTextArea" (pushHideSideBar)="hideSideBar($event)"></app-main-area-block>
<div class="ui-g">
    <div class="ui-g-12">
        <p-toolbar>
            <div class="ui-toolbar-group-left">
                <button pButton type="button" (click)="showInputTextArea(true)" label="Открыть панель ввода слова" class="ui-button-success"></button>
            </div>
        </p-toolbar>
    </div>
</div>
<app-block-01-about-me></app-block-01-about-me>
<app-block-02-about-me></app-block-02-about-me>
<app-block-03-about-me></app-block-03-about-me>
<app-words-block></app-words-block>
<app-main-page></app-main-page>


