.main-area {
  margin: 0.5em;
  border-color: #adadad;
  border-style: solid;
  border-width: 1px;
  height: 90vh;
  position: relative;
}

.text-item-block {
  display: inline-block;
  padding: 0 0.15em;
  /* z-index: 1000; */
}

.text-item-block textarea {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  min-width: 15em;
}

.text-item-block .header {
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;  
  height: 2.25em;
  background-color: #74c0ff;
}

.moved {
  position: absolute;
}
