.main-area {
  border-color: #adadad;
  border-style: solid;
  border-width: 1px;
  height: 90vh;
}

.text-item-block {
  display: inline-block;
  padding: 0 0.15em;
}

.text-item-block:hover .header,
.text-item-block:active .header  {
  background-color: #4aaeff;
  cursor: pointer;
}

.text-item-block:hover textarea,
.text-item-block:active textarea {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.37);
}

.text-item-block textarea {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  min-width: 15em;
}

.text-item-block .header {
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  height: 2.25em;
  background-color: #74c0ff;
}