.main-area {
  margin: 5px;
  border-color: #adadad;
  border-style: solid;
  border-width: 1px;
  height: 90vh;
  position: relative;
}

.text-area {
  display: inline-block;
  padding: 2px;
  z-index: 1000;
}

.text-area textarea {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.text-area .header {
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;  
  height:20px;
  background-color: #74c0ff;
}

.moved {
  position: absolute;
}

.buttonSidebar {
  position: absolute;
  bottom: 0;
  left:0;
}
