<div class="main-area">
  <div class="ui-g-12" *ngIf="inputArray.length">
    <div [ngStyle]="{'z-index':1000}" class="text-item-block" *ngFor="let item of inputArray; let id = index">
      <div class="header" pDraggable="main-area" (onDragStart)="dragStart($event, 'text-item-block')"
        (onDrag)="dragKeep($event)" (onDragEnd)="locked = false"(dblclick)="onDblclick($event, 'text-item-block')" (click)="delFromArray($event, id)"></div>
      <textarea [rows]="2" [cols]="10" pInputTextarea [disabled]="locked">{{ item }}</textarea>
    </div>
  </div>
</div>

<p-sidebar [(visible)]="pullShowSidebar" (onHide)="hideSideBar(false)" position="bottom" [baseZIndex]="1000">
  <div class="ui-g-offset-2 ui-g-8">
    <div class="ui-inputgroup">
      <input #inputRef class="ui-inputtex ui-g-10" type="text" pInputText (keyup.enter)="addToArray()"
        [(ngModel)]="inputText">
      <button class="inputButton" type="button" pButton label="{{ buttonText }}" (click)="addToArray()"></button>
    </div>
  </div>
</p-sidebar>