.main-area {
  margin: 5px;
  border-color: #adadad;
  border-style: solid;
  border-width: 1px;
  height: 95vh;
  position: relative;
}

.text-area {
  display: inline-block;
  padding: 2px;
  z-index: 999;
}

.text-area textarea {
  max-width: 300px !important;
  border-radius: 0;
}

.text-area .header {
  height: 20px;
  background-color: #74c0ff;
}

.buttonSidebar {
  position: absolute;
  bottom: 0;
  left:0;
}

.moved {
  position: absolute;
}
