<p-panel header="{{ titleBody }}" [collapsed]="true" [toggleable]="true">
  <div class="accordion-block-content middle">
      <div [ngClass]='"img-block"' *ngFor="let card of arrayBodys, let id = index" pDraggable="carszone" (onDragStart)="dragStart($event, 'img-block')" (onDrag)="dragKeep($event, 'img-block')" (click)="onClick($event, 'img-block')" (dblclick)="onDblclick($event, 'img-block')">
        <div class="img-wrapper">
          <img [ngClass]='"img-card"' src="./assets/images/robots/body/{{ card }}"/>
        </div>
        <div class="card-number">
            {{id + 1}}
        </div>
      </div>
  </div>
</p-panel>