<p-panel header="{{ titleHeader }}" [collapsed]="true" [toggleable]="true">
  <div class="accordion-block-content head">
      <div [ngClass]='"img-block"' *ngFor="let card of arrayCards" pDraggable="carszone" (onDragStart)="dragStart($event, 'img-block')" (onDrag)="dragKeep($event, 'img-block')" (click)="onClick($event, 'img-block')" (dblclick)="onDblclick($event, 'img-block')">
          <img [ngClass]='"img-card"' src="./assets/images/about-me/head/{{ card }}"/>
      </div>
  </div>
</p-panel>
