/* You can add global styles to this file, and also import other style files */
.accordion-block-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 250px;
    margin: 0 0 15px 0;
    padding: 5px;
}

.card-number {
    background-color: #61c3ff;
    display: inline-block;
    border: 1px solid #45bafd;
    padding: 0 5px;
    border-radius: 0 0 5px 5px;
    color: #ffffff;
    margin-left: 10px;
}

/* .buttonHideShow {
    width: 115px;
}
.buttonHideShow .ui-button-text {
    padding: 0.25em;
}

.buttonHideShow .ui-button {
    width: 100%;
    margin-bottom: 2px;
}

.buttonHideShow {
    margin-bottom: 5px;
} */

.img-block {
    margin: 2px;
    background-size: cover;
}

.img-card,
.img-wrapper {
    height: 150px;
    border-radius: 5px;
}

.img-wrapper:hover,
.word-block:hover,
.img-wrapper:active,
.word-block:active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.37);
    cursor: pointer;
}

.moved {
    position: absolute;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(.65, 1.95, .03, .32);
}

.img-block.moved .img-wrapper,
.img-block.moved .img-card {
    height: 300px;
    border-radius: 10px;
}

.img-card-hidden {
    opacity: 0;
}

.ui-sidebar-bottom {
    height: 5em;
}

.ui-sidebar-mask {
    height: 0;
}

.ui-panel .ui-panel-titlebar-icon {
    float: left;
  }
